body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 30px;
        }


h1 {
    font-size: 35px;
    background: linear-gradient(270deg, white, gray, black, gray, white);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarTexto 6s ease infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes animarTexto {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 25% 50%;
    }
}


        a {
            display: block;
            margin: 20px auto;
            padding: 15px;
            width: 80%;
            max-width: 300px;
            background-color: #ffffff;
            color: #000;
            text-decoration: none;
            border-radius: 10px;
            font-weight: bold;
            transition: transform 0.3s, background-color 0.3s;
        }
        

        a:hover {
            background-color: #ffffff;
            transform: scale(1.05);
        }

        #logo-group {
            width: 185px;
            height: 185px;
            border-radius: 30%;
        }
